# Ignore node_modules
/node_modules

# Ignore any potential error logged produced by yarn
yarn-error.log

# Ignore any typescript key file
src/key.ts

# Ignore transaction file
transaction.json

# Ignore local keys
key.json

# Ignore the generated build
/lib

# Yarn ignores
.yarn/*
!.yarn/releases
!.yarn/plugins
